<html ng-app="app">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>angular example</title>
		<link rel="stylesheet" href="css/style.css" />
		<script src="lib/angular.js"></script>
		<script src="javascript/app.js"></script>
	</head>
	<body>
		<div id="wrap" ng-controller="QuestionsCntl">
			<div id="question-panel">
				<div>
					<h3>Enter your question</h3>
					<form ng-submit="ask(question); question=''">
						<label for="ask-input">Question:</label>
						<input type="text" id="ask-input" ng-model="question" autofocus />
						<button>Ask</button>
					</form>
					<button type="submit" id="resort-button">Manual ReSort</button>
				</div>
				<div>
					<h3>Pending Questions</h3>
					<div id="question-list">
						<form ng-repeat="question in questions | orderBy:'votes':true" ng-submit="upvote(question.id)" class="question">
							{{question.question}}
							<div class="votes">{{question.votes}}</div>
							<button class="upvote">vote</div>
						</form>
					</div>
				</div>
				<footer id="question-footer">
					Total questions asked is {{questions.length}}
				</footer>
			</div>
		</div>
	</body>
</html>